body {
	background:url(../images/Star-Trek-Logo.jpg) no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size: cover;
	color:#ccc;
	font-family: FEC_____, helvetica, lucida;
}
#buttonDiv{
	margin:1% 1% 0 1%;
	height:100%;
	max-height:100%;
}
.gifDisplay{
	margin:0;
}
#gifContainer{
	height:100%;
}
#displayGif{
	height:100%;
	padding:5%;
}
#gifClick{
	border:none;
	margin:0;
	padding:0;
}
#queryBox{
	margin:1%;
}
#clearUser{
	margin:1%;
}

button:hover, #addNew:hover {
	background-color: #999;
	border: solid 2px #000;
}

@font-face {
	font-family: FEC_____;
	src:url(../fonts/FEC.ttf);
}
button {
	border-radius: 5px;
	margin:1px;
	background-color: #555
}
input {
	border-radius: 5px;
	background-color: #555
}
img {
	border: solid 1px #fff;
	max-width:100%;
}
h2 {
	background-color: #555;
	width:175px;
	border:solid 2px #ccc;
	border-radius: 5px;
	text-align:center;
}
